In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

24/03/26 12:31:27 WARN Utils: Your hostname, anthony-X570-AORUS-MASTER resolves to a loopback address: 127.0.1.1; using 192.168.1.15 instead (on interface wlp4s0)
24/03/26 12:31:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/26 12:31:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [16]:
df_pyspark = spark.read.csv("missing_values_data.csv", header=True, inferSchema=True)

In [17]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Amelia|  24|         1|300000|
| Benjamin|  55|         9|250000|
|Charlotte|  82|         3|200000|
|    David|  87|      NULL|350000|
|     Emma|NULL|         0|150000|
| Jennifer|  67|         5|250000|
|Charlotte|  82|         3|200000|
|    David|NULL|      NULL|350000|
|     Emma|  43|         0|150000|
|    Chase|NULL|         1|100000|
|     Adam|  34|         1|100000|
+---------+----+----------+------+

In [19]:
# Salary of people less than or equeal to 2000000
df_pyspark.filter("Salary<=200000").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|Charlotte|  82|         3|200000|
|     Emma|NULL|         0|150000|
|Charlotte|  82|         3|200000|
|     Emma|  43|         0|150000|
|    Chase|NULL|         1|100000|
|     Adam|  34|         1|100000|
+---------+----+----------+------+

In [20]:

# Salary of people less than or equeal to 2000000
df_pyspark.filter("Salary<=200000").select(["Name", "Age"]).show()

+---------+----+
|     Name| Age|
+---------+----+
|Charlotte|  82|
|     Emma|NULL|
|Charlotte|  82|
|     Emma|  43|
|    Chase|NULL|
|     Adam|  34|
+---------+----+

In [21]:

# Salary of people less than or equeal to 2000000
df_pyspark.filter(df_pyspark['Salary'] <= 200000).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|Charlotte|  82|         3|200000|
|     Emma|NULL|         0|150000|
|Charlotte|  82|         3|200000|
|     Emma|  43|         0|150000|
|    Chase|NULL|         1|100000|
|     Adam|  34|         1|100000|
+---------+----+----------+------+

In [24]:
# Salary of people less than or equeal to 2000000, and Age greater than 20
df_pyspark.filter((df_pyspark['Salary'] <= 200000) & (df_pyspark['Age'] > 20)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Charlotte| 82|         3|200000|
|Charlotte| 82|         3|200000|
|     Emma| 43|         0|150000|
|     Adam| 34|         1|100000|
+---------+---+----------+------+

In [27]:
df_pyspark.filter((df_pyspark['Salary'] > 200000) | (df_pyspark['Salary'] < 300000)).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Amelia|  24|         1|300000|
| Benjamin|  55|         9|250000|
|Charlotte|  82|         3|200000|
|    David|  87|      NULL|350000|
|     Emma|NULL|         0|150000|
| Jennifer|  67|         5|250000|
|Charlotte|  82|         3|200000|
|    David|NULL|      NULL|350000|
|     Emma|  43|         0|150000|
|    Chase|NULL|         1|100000|
|     Adam|  34|         1|100000|
+---------+----+----------+------+