In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/anthony/.local/lib/python3.10/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/anthony/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/anthony/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/anthony/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/anthony/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /home/anthony/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

In [5]:
pd.read_csv('name_age_data.csv')

        Name  Age
0     Amelia   35
1   Benjamin   12
2  Charlotte   72
3      David    5
4       Emma   28

In [6]:
from pyspark.sql import SparkSession

In [9]:
%pip install openjdk-11-jdk

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement openjdk-11-jdk (from versions: none)
ERROR: No matching distribution found for openjdk-11-jdk
Note: you may need to restart the kernel to use updated packages.

In [10]:
spark=SparkSession.builder.master("local[1]").appName('Practice').getOrCreate()

24/03/25 18:00:05 WARN Utils: Your hostname, anthony-X570-AORUS-MASTER resolves to a loopback address: 127.0.1.1; using 192.168.1.15 instead (on interface wlp4s0)
24/03/25 18:00:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/25 18:00:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
spark

In [24]:
df_pyspark=spark.read.csv('name_age_data.csv')

In [25]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|   Amelia| 35|
| Benjamin| 12|
|Charlotte| 72|
|    David|  5|
|     Emma| 28|
+---------+---+

In [26]:
# We can set spark.read.option() to set the header option to true so that the first row is treated as column names.
df_pyspark = spark.read.option('header','true').csv('name_age_data.csv')
# This can also be done when df_pystpark is created via 
# df_pyspark = spark.read.csv('name_age_data.csv', header=True).

In [27]:
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|   Amelia| 35|
| Benjamin| 12|
|Charlotte| 72|
|    David|  5|
|     Emma| 28|
+---------+---+

In [30]:
# df_pyspark is a sql dataframe object.
print(type(df_pyspark))
# The head consists of Row objects that each contain a column name(Name) and a value(Age).
print(df_pyspark.head(3))
# The schema is the column names and the data types of each column.
df_pyspark.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
[Row(Name='Amelia', Age='35'), Row(Name='Benjamin', Age='12'), Row(Name='Charlotte', Age='72')]
root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)