In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()
spark

24/03/25 20:25:16 WARN Utils: Your hostname, anthony-X570-AORUS-MASTER resolves to a loopback address: 127.0.1.1; using 192.168.1.15 instead (on interface wlp4s0)
24/03/25 20:25:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/25 20:25:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [23]:
# Read dataset
df_pyspark = spark.read.option('header', 'true').csv('PySpark_DataFrames_Dataset.csv').show()
df_pyspark = spark.read.option('header', 'true').csv('PySpark_DataFrames_Dataset.csv')

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Amelia| 24|         1|
| Benjamin| 55|         9|
|Charlotte| 82|         3|
|    David| 87|         7|
|     Emma| 43|         0|
+---------+---+----------+

In [24]:
# Notice Age and Experience are strings and not integers.
df_pyspark.printSchema()

# To remedy this, we must have spark infer the Schema.
df_pyspark = spark.read.option('header', 'true').csv('PySpark_DataFrames_Dataset.csv', inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
# Create a
print(df_pyspark.columns)
print(df_pyspark.head(3))
print(df_pyspark.select('Name'))
df_pyspark.select('Name').show()
df_pyspark.select(['Name', 'Experience']).show()
print(df_pyspark.dtypes)
df_pyspark.describe()
df_pyspark.describe().show()

['Name', 'Age', 'Experience']
[Row(Name='Amelia', Age=24, Experience=1), Row(Name='Benjamin', Age=55, Experience=9), Row(Name='Charlotte', Age=82, Experience=3)]
DataFrame[Name: string]
+---------+
|     Name|
+---------+
|   Amelia|
| Benjamin|
|Charlotte|
|    David|
|     Emma|
+---------+

+---------+----------+
|     Name|Experience|
+---------+----------+
|   Amelia|         1|
| Benjamin|         9|
|Charlotte|         3|
|    David|         7|
|     Emma|         0|
+---------+----------+

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]
+-------+------+----------------+-----------------+
|summary|  Name|             Age|       Experience|
+-------+------+----------------+-----------------+
|  count|     5|               5|                5|
|   mean|  NULL|            58.2|              4.0|
| stddev|  NULL|26.4896206088347|3.872983346207417|
|    min|Amelia|              24|                0|
|    max|  Emma|              87|                9|
+-------+------+----------------+-----------------+

In [26]:
# Adding Columns
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [27]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|   Amelia| 24|         1|                       3|
| Benjamin| 55|         9|                      11|
|Charlotte| 82|         3|                       5|
|    David| 87|         7|                       9|
|     Emma| 43|         0|                       2|
+---------+---+----------+------------------------+

In [28]:
# Droping Columns
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Amelia| 24|         1|
| Benjamin| 55|         9|
|Charlotte| 82|         3|
|    David| 87|         7|
|     Emma| 43|         0|
+---------+---+----------+

In [29]:
# Rename Column
df_pyspark = df_pyspark.withColumnRenamed('Name', 'New Name')
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|   Amelia| 24|         1|
| Benjamin| 55|         9|
|Charlotte| 82|         3|
|    David| 87|         7|
|     Emma| 43|         0|
+---------+---+----------+